/*    Variables    */

:root {
  --color-titulos: #101828;
  --color-textos: #a7acb9;
  --color-nombre-fecha: #6941c6;
}

* {
  margin: 0px;
  border: 0px;
  font-family: "Display xs/Semibold", sans-serif;
  color: var(--color-textos);
  gap: 30px;
}

/*    Modelos Para Celular    */

body {
  padding: 0px 50px 0px 30px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4{
padding-top: 30px;
}

.titulo {
  color: var(--color-titulos);
  text-align: center;
}

#barra_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; 
  gap: 10px;
} 

input {
  border: 1px solid var(--color-textos);
  border-radius: 5px;
  text-align: left;
  padding: 10px 190px 10px 10px;
}

p {
  color: var(--color-textos);
  font-size: 14px;
  padding-top: 10px;
}

a {
  text-decoration: underline;
}
.subtitulos {
  color: var(--color-titulos);
  font-size: 25px;
  padding: 15px 0px 15px 0px;
}

h4 {
  color: var(--color-nombre-fecha);
  text-align: center;
}

button {
  background-color: #9377d6;
  color: white;
  border-radius: 5px;
  padding: 10px 150px;
  border: none;
  font-size: 16px;
  font-family: "Display xs/Semibold", sans-serif;
}

footer {
  display: grid;
  flex-direction: center;
  justify-content: center;
  padding: 32px 30px 60px 10px;
  grid-template-areas:
    "a b c";
  gap: 32px;
}

.paginacion {
  display: none;
}

.card_1 img {
  width: 340px;
  height: 220px;
}

#paginado{
  display: flex;
  color: var(--color-textos);
  flex-direction: center;
  justify-content: center;
  padding: 0px 30px 0px 30px;
}

h6{
  display: none;
}

.card_2 article:nth-child(n+4){
  display: none
}

.card_2 h5 {
  color: var(--color-nombre-fecha);
  font-size: 14px;
  padding: 15px 0px 15px 0px;
}

.card_2 h3 {
  color: var(--color-titulos);
  font-size: 24px;
  padding-bottom: 15px;
}

.card_2 p {
  color: var(--color-textos);
  font-size: 16px;
  justify-content: center;
  padding-bottom: 15px;
}

.card_2 ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  font-size: 14px;
  padding-left: 0px;
  padding-bottom: 30px;
}

.card_1 h5 {
  color: var(--color-nombre-fecha);
  font-size: 14px;
  padding: 15px 0px 15px 0px;
  text-align: left;
}

.card_1 h3 {
  color: var(--color-titulos);
  font-size: 24px;
  padding-bottom: 15px;
}

.card_1 p {
  color: var(--color-textos);
  font-size: 16px;
  padding-bottom: 15px;
}

.card_1 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  padding-left: 0px;
  padding-bottom: 30px;
}

.arrow {
  color: black;
  padding-left: 12px;
}


/*    Modelo Para computador   */

@media (min-width: 480px) {
  
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 59px 38px 27px 46px;
  }

  .titulo {
    color: var(--color-titulos);
    font-size: 50px;
  }

  .descripcion {
    color: var(--color-textos);
    width: 55%;
    text-align: center;
  }

  h4 {
    color: var(--color-nombre-fecha);
  }

  p {
    color: var(--color-textos);
    font-size: 14px;
    padding-top: 15px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0px 10px 0px 8px;
    border-radius: 25%;
  }

  a {
    text-decoration: underline;
  }

  .privacy {
    cursor: pointer;
  }

  #barra_nav {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
  } 

  input {
    border: 1px solid var(--color-textos);
    border-radius: 5px;
    padding: 10px 100px 10px 8px;
  }

  button {
    background-color: #9377d6;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 30px;
    border: none;
    font-size: 16px;
    font-family: "Display xs/Semibold", sans-serif;
    cursor: pointer;
    height: 38px;
  }

  .subtitulos {
    color: var(--color-titulos);
    font-size: 20px;
    padding-left: 132px;
  }
  .card_1 {
    display: grid;
    padding: 32px 32px 90px 132px;
    width: 90%;
    grid-template-areas:
      "a b"
      "a c";
    gap: 8%;
  }

  .card_1 img {
    width: 340px;
    height: 220px;
  }

  .card_1 article:first-child {
    grid-area: a;
    display: flex;
    flex-direction: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card_1 article:first-child img {
    width: 100%;
    height: 338px;
  }

  .card_2 {
    display: grid;
    padding: 32px 32px 96px 132px;
    grid-template-areas:
      "a b c"
      "d e f";
    gap: 32px;
  }

  .card_2 img {
    width: 370px;
    height: 220px;
  }

  .paginacion {
    text-align: center;
    margin-top: 20px;
  }
  .title{
    width: 60%;
  }

  .card_2 .descrip{
    width: 60%;
  }

  .paginacion ul {
    list-style: none;
    padding: 0;
  }

  .paginacion li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .paginacion li.active {
    font-weight: bold;
  }

  .paginacion {
    display: flex;
  }

  h6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #paginado{
    display: none;
  }

  footer {
    display: grid;
    flex-direction: center;
    justify-content: center;
    padding: 32px 32px 96px 32px;
    grid-template-areas:
      "a b c";
    gap: 32px;
  }

  .flechas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
  }

  .card_2 article:nth-child(n+4){
    display: inline
  }

  .card_1 .article-card:nth-child(n+2){
    display: flex;
    height: 20px;
    width: 95%;
   }
}

